@model IEnumerable<VidlyPractice.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
@{
    if (!Model.Any())
    {
        <text>We dont have any customers</text>
        return;
    }
}

<button class="btn btn-primary">Add New Customer</button>
<br/>
<br/>

<table class="table table-hover table-bordered table-striped" width="100%">

    <thead>
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Subscribed?</th>
            <th>Birth Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.Id
                </td>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customer", new {id = customer.Id}, null)
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
                <td>
                    @customer.IsSubscribedToNewsLetter
                </td>
                <td>
                    @if (customer.BirthDate != null)
                    {
                        @customer.BirthDate.Value.ToString("yyyy MMMM dd")
                    }
                </td>

            </tr>
        }
    </tbody>

</table>